*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Helvetica, sans-serif;
}

#portada{
    background-color: black;
}

.home{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}

.home h1{
    font-size: 140px;
    font-weight: bold;
    margin: 0px;
    line-height: 120px;
}

.home hr{
    width: 550px;
}

.home h2{
    margin: 5px 0px 0px 48px;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 45px;
    color: #FF0047;
}

.home a{
    margin-top: 100px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 400;
}

.home a:hover{
    font-weight: 600;
}

#navBar{
    height: 112px;
    background-color: black;
    display: flex;
    flex-direction: row;
}

#menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

#menu ul li{
    color: whitesmoke;
    list-style: none;
}

.logo{
    margin: auto;
}

.menu1 ul{
    display: flex;
    flex-direction: row;
}

.menu1 ul li{
    margin: 0px 50px;
    font-weight: bold;
    font-size: 18px;
}

.menu2{
    display: flex;
    align-items: center;
}

.menu2 ul{
    display: flex;
    flex-direction: row;
    margin-left: 0px;
}

.menu2 ul li{
    margin: 0px 20px;
    font-weight: 400;
    font-size: small;
    color: whitesmoke;
    list-style: none;
}

.buscarr{
    margin: auto;
    display: flex;
    flex-direction: row;
}

.buscador{
    margin: 0px 40px;
}

.main{
    display: flex;
    flex-direction: column;
}

.banner1 img{
    width: 100%;
}

.homeZap{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
}

.homeZap div{
    margin: 30px;
    border: black 1px solid;
    padding: 10px;
}

footer{
    height: 170px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo2{
    margin-left: 110px;
}

.pagos{
    margin-right: 70px;
}

.pagos img{
    height: 40px;
    margin-right: 50px;
}

